profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            container = 'chromapipe:latest'
            cpus = 2
            memory = '4 GB'
        }
    }

    aws {
        workDir = 's3://chromapipe-data/work'
        
        process {
            container = 'h4rrye/chromapipe:with-mdtraj'
            executor  = 'awsbatch'
            queue     = 'chromapipe-queue-v4'
            cpus = 2
            memory = '4 GB'
        }

        aws {
            region = 'us-west-2'
        }
        
        // Enable Wave containers - will auto-detect Dockerfile
        wave {
            enabled = true
        }
        
        // Enable Fusion file system for direct S3 access
        fusion {
            enabled = true
        }
    }
}


// ---------------------------------------------------------------

/*
// for docker containerization only | local
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    container = 'chromapipe:latest'
    cpus = 2
    memory = '4 GB'
}
*/

/*
// for local runs
docker.enabled = false

process {
    cpus = 2
    memory = '4 GB'
}
*/