profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            container = 'chromapipe:latest'
            cpus = 2
            memory = '4 GB'
        }
    }

    aws {
        workDir = 's3://chromapipe-data/work'
        
        process {
            container = '754080462566.dkr.ecr.us-west-2.amazonaws.com/chromapipe:test-hello-20260225-174442'
            executor  = 'awsbatch'
            queue     = 'chromapipe-queue-v2'
            cpus = 2
            memory = '4 GB'
            containerOptions = '-e AWS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt -e SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt -e REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt'
        }

        aws {
            region = 'us-west-2'
            batch {
                cliPath = '/usr/bin/aws'
            }
        }
    }
}


// ---------------------------------------------------------------

/*
// for docker containerization only | local
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    container = 'chromapipe:latest'
    cpus = 2
    memory = '4 GB'
}
*/

/*
// for local runs
docker.enabled = false

process {
    cpus = 2
    memory = '4 GB'
}
*/