profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            container = 'chromapipe:latest'
            cpus = 2
            memory = '4 GB'
        }
    }

    aws {
        process {
            container = '754080462566.dkr.ecr.us-west-2.amazonaws.com/chromapipe:v6'
            executor = 'awsbatch'
            queue = 'chromapipe-queue'
            cpus = 2
            memory = '4 GB'
        }

        aws {
            region = 'us-west-2'
            batch {
                cliPath = '/usr/local/bin/aws'
            }
        }
    }
}


// ---------------------------------------------------------------

/*
// for docker containerization only | local
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    container = 'chromapipe:latest'
    cpus = 2
    memory = '4 GB'
}
*/

/*
// for local runs
docker.enabled = false

process {
    cpus = 2
    memory = '4 GB'
}
*/